body{
	background-color: #DCD8CF;
}

@media only screen and (min-width: 769px) {
    .info_block {
        width: 100%;
        height: 700px;
        border-collapse: separate;
        border-spacing: 10px;
        position:relative;
    }

    #first_article_list {
        position: absolute;
        left: 1%;
        top: 0;
        width: 19%;
        height: 500px;
    }

    #news_list {
        position: absolute;
        right: 1%;
        top: 5%;
        width: 78%;
        height: 280px;
    }

    #last_article_list {
        position: absolute;
        right: 1%;
        top: 50%;
        width: 78%;
        height: 280px;
    }
}

@media only screen and (max-width: 768px) {
    .info_block {
        width: 100%;
        height: 700px;
        display: table;
        border-collapse: separate;
        border-spacing: 10px;
    }

    #first_article_list {
        display: none;
    }

    #news_list {
        display: table-cell;
        width: 69%;
        height: inherit;
    }

    #last_article_list {
        display: table-cell;
        width: 29%;
        height: inherit;
    }
}

@media only screen and (max-width: 375px) {
    .info_block {
        width: 100%;
        height: 700px;
        border-collapse: separate;
        border-spacing: 10px;
        position:relative;
    }

    #first_article_list {
        display: none;
    }

    #news_list {
        display: none;
    }

    #last_article_list {
        position: absolute;
        left: 1%;
        top: 0;
        width: 98%;
        height: inherit;
    }
}