@media  (max-width: 768px) {
    .info_block {
        width: 100%;
        height: 700px;
        display: table;
        border-collapse: separate;
        border-spacing: 10px;
    }

    #first_article_list {
        display: none;
    }

    #news_list {
        display: table-cell;
        width: 69%;
        height: inherit;
    }

    #last_article_list {
        display: table-cell;
        width: 29%;
        height: inherit;
    }
}