body{
	background-color: #DCD8CF;
}

.info_block {
    width: 100%;
    height: 700px;
	display: table;
    border-collapse: separate;
  	border-spacing: 10px;
}

#left_info_block {
    display: table-cell;
	width: 24%;
    height: inherit;
}

#center_info_block {
    display: table-cell;
	width: 49%;
    height: inherit;
}

#right_info_block {
    display: table-cell;
	width: 24%;
    height: inherit;
}